$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

li, .mast {
    margin-bottom: $line-height-computed;
}

.lazy-load {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
  img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}